<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
		<!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="./images/logo.png">
        <title>QR</title>
		
		<style>
			
			.QRframe {
				width: 228px;
				height: 228px;
				border: 2px solid black;
				font-size:0; /* The child elements of the QR frame are set to be inline elements. A typical characteristic of inline elements is that they respect the whitespace in the markup (= the html file). This explains why a gap of space is generated between the elements. The size of the whitespace between the inline elements is determined by the font-size. Therefore we set the font-size to 0, thus removing the space between the child-elements.*/
			}
			
			.QRpixel {
				display: inline-block;
				width: 4px;
				height: 4px;
			}
			
			.QRblack {
				background-color: black;
			}
			
			.QRwhite {
				background-color: white;
			}
			
		</style>
    </head>
	
	<body>
		<div class="QRframe">
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			
			
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			
			
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			
			
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			
			
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
			<div class="QRpixel QRblack"></div>
			<div class="QRpixel QRwhite"></div>
		</div>
	</body>
	
	<script type="text/javascript">
		
		/* Tutorials:
		https://www.thonky.com/qr-code-tutorial
		http://www.qrcode.com/en/about/version.html
		
		String to be encoded should consist of:
		• shop ID: numeric
		• shop  zip code (anti-fraud): numeric
		• shop city name (anti-fraud): alphanumeric
		• shop country name (anti-fraud): alphanumeric
		• total transaction amount: alphanumeric (because of the decimal point)
		• discount: alphanumeric (because of the % character)
		• cash-back in absolute amount: alphanumeric (because of the decimal point)
		• discounted amount to be paid: alphanumeric (because of the decimal point)
		=> example string: 39547 1330 SOFIA BULGARIA 79.99 3% 2.40 77.59
		=> desired encoding mode: alphanumeric (due to text, spaces, decimal points and the percent character) -> mode indicator = 0010
		=> realistic amount of characters: ±100 + buffer of at least 50 = 150
		
		Desired data correction level:
		• L	Recovers 7% of data: not desired
		• M	Recovers 15% of data: not desired
		• Q	Recovers 25% of data: if we cannot get better
		• H	Recovers 30% of data: desired -> can still read the QR code if 30% of the QR code is unreadable (in case of screen damage, dust on screen, ....)
		=> desired correction level: H
		
		=> desired version of QR code with at least 150 alphanumeric characters with correction level H: version 10 (174 alphanumeric characters with H correction level) = 57x57 = 3249 elements to be created
		
		Start off QR code by mode indicator followed by character count (for version 10 alphanumeric, character count has to be expressed in 11 bits). Our example string consists of 44 characters. In binary this 44 = 101100. Since we need to express this in 11 bits, we add leading zeros until we have 11 bits: 00000101100. So our QR code will start with mode indicator 0010 and character count 00000101100.
		=> 0010 00000101100
		
		
		*/
		
		var text = '9547 1330 SOFIA BULGARIA 79.99 3% 2.40 77.59';
		var textLength = text.length;
		console.log(textLength);
		var textBinLength = (textLength >>> 0).toString(2);
		
		function pad_with_zeroes(number, length) {
			var my_string = '' + number;
			while (my_string.length < length) {
				my_string = '0' + my_string;
			}
			return my_string;
		}
		
		var charCount = pad_with_zeroes(textBinLength, 11);
		
		console.log(charCount);
		
		
		
		
	</script>
	
</html>